ion-modal#example-modal {
    --height: 50%;
    --border-radius: 16px;
    --box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  }
  
  ion-modal#example-modal::part(backdrop) {
    background: rgba(209, 213, 219);
    opacity: 1;
  }
  
  ion-modal#example-modal ion-toolbar {
    --background: rgb(14 116 144);
    --color: white;
  }

  .dash_cards {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      width: 100%;
      height: 100%;
      margin: 6px;
      padding: 12px;
      border-radius: 12px;
      color: white;
  }

.gradient-1 {
  background: linear-gradient(rgba(94, 136, 101, 1), rgba(24, 34, 25, 1));
}

.gradient-2 {
    background: linear-gradient(rgba(142, 111, 27, 1), rgba(40, 31, 8, 1));
}

.gradient-3 {
    background: linear-gradient(rgba(156, 106, 222, 1), rgba(34, 13, 61, 1));
}

.gradient-4 {
    background: linear-gradient(rgba(41, 39, 188, 0.9), rgba(8, 8, 40, 1));
}

.info_cards {
    width: 100%;
    height: 150px;
    border: 1px solid rgba(94, 136, 101, 1);
    border-radius: 10px;
    padding: 8px;
    margin: 2px;
    background-color: white;
}

