@font-face {
    font-family: 'Rochester';
    src: url('./assets/fonts/Rochester-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Akaya';
    src: url('./assets/fonts/AkayaTelivigala-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto mono';
    src: url('./assets/fonts/RobotoMono-VariableFont_wght.ttf') format('truetype');
}

/*@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@100&display=swap');*/

/*.condensed-thin {*/
/*    font-family: 'Roboto Condensed', sans-serif;*/
/*    font-weight: 100; !* Very Thin *!*/
/*}*/

:root {
    --color-white: #ffffff;
    --size-xLarge: 24px;
    --size-small: 12px;
    --font-akaya: 'Akaya Telivigala', cursive;
    --font-regular: 'Arial', sans-serif;
}

ion-toolbar {
    --background: rgba(254, 247, 255, 1);
    --border-style: none;
  }

ion-content {
    --background: rgba(254, 247, 255, 1);
}
